<!DOCTYPE html>

<html>

    <head>
        
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">

    <head>

    <body>

        <div class="main-content">
            {{>header}}
            <p>This site was created by Andrew Mead. It used data from mapbx.com and openweater.com</p>
            <img class="portrait" src="/img/me.png">
        </div>
        
        {{!-- <h1>{{title}}</h1> --}}
        
        {{!-- <p>Created by {{name}}</p> --}}
        {{>footer}}
    </body>

</html>