<!--This is a partial so not wrting rest of the syntax of html-->

<header>
    <h1>{{title}}</h1>
    
    <a href="/">Weather</a> <!--href is to the root of the file-->
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>